<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SampleMvcApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SampleMvcApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Transportes Express EC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup "
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                        -->

                        <a class="nav-item nav-link text-dark bg-primary my-2" asp-area="" asp-controller="Rutas" asp-action="Index">Administrar Rutas</a>
                        
                        <a class="nav-item nav-link text-dark bg-primary my-2" asp-area="" asp-controller="Transportes" asp-action="Index">Administrar Transportes</a>


                        <a class="nav-item nav-link text-dark bg-primary my-2" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes Satisfechos</a>


                        <a class="nav-item nav-link text-dark bg-primary my-2" asp-area="" asp-controller="Viajes" asp-action="Index">Experiencias de viaje</a>

                    </div>
                    <div class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-item nav-link bg-primary my-2" asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a>
                            <a class="nav-item nav-link bg-success ml-3 my-2" id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="nav-item nav-link bg-primary my-2" id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted"></footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
