@model SampleMvcApp.ViewModels.Conductor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conductor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdConductor" />
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTelefono" class="control-label"></label>
                <input asp-for="NumeroTelefono" class="form-control" />
                <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEmisionLicencia" class="control-label"></label>
                <input asp-for="FechaEmisionLicencia" class="form-control" />
                <span asp-validation-for="FechaEmisionLicencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimientoLicencia" class="control-label"></label>
                <input asp-for="FechaVencimientoLicencia" class="form-control" />
                <span asp-validation-for="FechaVencimientoLicencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
