@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Bienvenido a Trasnportes Express EC</h1>
    <style>
        body {
            background-color: honeydew;
        }
    </style>*@

   
        <div class="alert alert-success">
        <h2 class="display-4">Bienvenido a Transportes Express EC</h2>
        </div>
    <style>
        body {
            background-color: ivory;
        }
    </style>
    
</div>
