@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@

<div class="text-center">
    @*<h1 class="display-4">Bienvenido a Trasnportes Express EC</h1>
    <style>
    body {
    background-color: honeydew;
    }
    </style>*@


    <div class="alert alert-success">
        <h2 class="display-4">Los derechos son reservados</h2>
    </div>
    <style>
        body {
            background-color: ivory;
        }
    </style>

</div>
