@model IEnumerable<SampleMvcApp.ViewModels.Viaje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("user") || User.IsInRole("admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagenUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/Images/@item.ImagenUrl" style="with:75px;height:75px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
}
    </tbody>
</table>
